# Logs
html_artifacts
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node modules & build outputs
node_modules
dist
dist-ssr
*.local

# Environment variables & secrets (NUNCA subir para o Git)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
